<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}" class="dark">
	<head>
		    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/tailwind.purged.min.css"/>
			<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css"/>

			<meta charset="utf-8" />

	</head>

	<body>
		{% include '_includes/navbar.html' %}
		<main class="dark:bg-sky-950 dark:text-white">
			{% block content  %}

			{% endblock %}
		</main>
	</body>

</html>
